{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <style>
        .center-content {
            text-align: center;
        }
        .center-content img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="center-content">
        <h1>Home Page</h1>
        <img height="600" width="1400" src="{{ url_for('static', filename='images/image.jpeg') }}">
    </div>
{% endblock %}
